html{
    width: 100%;
    height: 100%;
}

body{
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(58, 119, 93);
}

.app{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}