.main-screen{
    display: grid;
    background-color: rgb(223, 223, 223);
    width: 960px;
    height: 540px;
    min-width: 960px;
    min-height: 540px;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 450px 1fr;
    grid-template-areas: 
    "navbar chatmessages"
    "navbar typemessages";
}

.main-screen > *{
    border: 1px solid rgb(228, 228, 228);
}


.chat-messages{
    background-color: rgb(224, 209, 222);
    grid-area: chatmessages;
}

.type-messages{
    background-color: rgb(224, 224, 224);
    grid-area: typemessages;
}