.main-screen .nav-bar .header{
    background-color: #ebebeb;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-screen .nav-bar .header .user-avatar{
    display: flex;
}


.main-screen .nav-bar .search-conversation{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
}


.main-screen .nav-bar .search-conversation div .type-area,
.main-screen .nav-bar .search-conversation div .type-area:focus{
    margin: none;
    border: none;
    outline: 0;
    box-shadow: none;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.main-screen .nav-bar .search-conversation div{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(216, 216, 216);
    outline: 0;
    box-shadow: none;
    width: 100%;
    height: 100%;
}

.main-screen .nav-bar .search-conversation div button,
.main-screen .nav-bar .search-conversation div button:hover{
    box-shadow: none;
    outline: 0;
    background-color: #fff;
    border: none;
}

.main-screen .nav-bar .conversations{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.nav-bar{
    background-color: #ebebeb;
    grid-area: navbar;
}

.nav-bar .header .user-avatar, .nav-bar .header .user-avatar:focus{
    margin-right: auto;
    margin-left: 6px;
    justify-self: flex-start;
    position: relative;
    left: 5px;
    box-shadow: none;
    outline: 0;
    overflow: hidden;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(210, 210, 219);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-bar .header .button-status, .nav-bar .header .button-status:focus,
.nav-bar .header .button-new-conversation, .nav-bar .header .button-new-conversation:focus,
.nav-bar .header .button-menu, .nav-bar .header .button-menu:focus{
    box-shadow: none;
    outline: 0;
    overflow: hidden;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(204, 204, 216, 0);
    border: none;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.nav-bar .header .user-avatar .avatar-icon{
    width: 60%;
    height: 80%;
}