.main-screen .nav-bar .header{
    background-color: #ebebeb;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-screen .nav-bar .header .user-avatar{
    display: flex;
    margin-left: 6px;
}


.main-screen .nav-bar .search-conversation{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
}


.main-screen .nav-bar .search-conversation div .type-area,
.main-screen .nav-bar .search-conversation div .type-area:focus{
    margin: none;
    border: none;
    outline: 0;
    box-shadow: none;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.main-screen .nav-bar .search-conversation div{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(216, 216, 216);
    outline: 0;
    box-shadow: none;
    width: 100%;
    height: 100%;
}

.main-screen .nav-bar .search-conversation div button,
.main-screen .nav-bar .search-conversation div button:hover{
    box-shadow: none;
    outline: 0;
    background-color: #fff;
    border: none;
}

.main-screen .nav-bar .conversations{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.main-screen .nav-bar .conversations .list-conversations{
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-screen .nav-bar .conversations .list-conversations > li{
    width: 100%;
    height: 80px;
    color: #fff;
    background-color: #fff;
}


.nav-bar{
    background-color: #ebebeb;
    grid-area: navbar;
}

.main-screen .nav-bar .conversations .list-conversations li .conversation-button{
    outline: 0;
    box-shadow: none;
    border: none;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.main-screen .nav-bar .conversations .list-conversations li .conversation-button:hover{
    outline: 0;
    box-shadow: none;
    border: none;
    width: 100%;
    height: 100%;
    background-color: rgb(241, 241, 241);
}

.main-screen .nav-bar .conversations .list-conversations li .conversation-button button{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    overflow: hidden;
    padding: 0px;
    display: flex;
}

.main-screen .nav-bar .conversations .list-conversations li .conversation-button > div{
    width: 100%;
}

.main-screen .nav-bar .conversations .list-conversations li .conversation-button button svg{
    width: 50px;
    height: 50px;
    background-color: rgb(226, 226, 226);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 0px;
    border: 1px solid rgb(226, 226, 226);
    overflow: hidden;
    margin: 0px 14px;
}

.nav-bar .header .user-avatar, .nav-bar .header .user-avatar:focus{
    margin-right: auto;
    margin-left: 6px;
    justify-self: flex-start;
    position: relative;
    left: 5px;
    box-shadow: none;
    outline: 0;
    overflow: hidden;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(210, 210, 219);
    border: 1px solid rgb(226, 226, 226);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-bar .header .button-status, .nav-bar .header .button-status:focus,
.nav-bar .header .button-new-conversation, .nav-bar .header .button-new-conversation:focus,
.nav-bar .header .button-menu, .nav-bar .header .button-menu:focus{
    box-shadow: none;
    outline: 0;
    overflow: hidden;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(204, 204, 216, 0);
    border: none;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.nav-bar .header .user-avatar .avatar-icon{
    width: 60%;
    height: 80%;
}

.conversation-li{
    overflow: hidden;
    background-color: #fff;
    color: #fff;
    width: 100%;
}

#conversation-name{
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-top: 0px;
}

#conversation-lastmessage{
    color: rgb(131, 131, 131);
    font-weight: 100;
    font-size: 16px;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#conversation-time{
    color: rgb(179, 179, 179);
    font-size: 14px;
    margin-left: auto;
    margin-right: 18px;
}

#conversation-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    margin-bottom: auto;
}

#conversation-status{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border: none;
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
}

#conversation-button{
    width: 100%;
}

#lastmessage-text{
    height: 2ch;
    margin-left: 4px;
    display: flex;
    align-items: center;
}